.example-card {
    max-width: 45%;
    margin: 0.5%;
    display: inline-block;
}

.row-card {
    display: inline-block;
    width: 48%;
    min-height: 400px;
    margin: 1%;
}

.mat-form-field{
    display: block;
}
@media screen and (max-width: 992px) {
    .row-card {
        width: 100%;
    }
    
}
@media screen and (min-width: 2550px) {
    .row-card {
       width: 31%; 
    }
}

.card-content{
   height:300px;
  
}
.material-icons{
    float: right;
    position: absolute;
    right: 25px;
}

.mat-form-field-wrapper{
    margin-right: 30px;
    margin-left: 30px;
}
.mat-form-field{
    margin-right: 30px;
    margin-left: 30px;
}