.example-card {
    max-width: 45%;
    margin: 0.5%;
    display: inline-block;
}

.row-card {
    display: inline-block;
    width: 40%;
    min-height: 400px;
    margin: 1%;
}

.mat-form-field{
    display: block;
}
@media screen and (max-width: 992px) {
    .row-card {
        width: 100%;
    }
    
  }
.card-content{
   height:300px;
  
}


